#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th, td {
    padding: 20px;
}

th {
    font-size: 25px;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
